.THIS.wrapper{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.THIS.mymodal{
    min-width: 400px;
    min-height: 400px;
}